<html>
    <body>
        <form action="/saveImage" method="POST">
            <label>Images Result: </label>
            <div>
                <img src="<%=source[0]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[0]%>" name="imgSrc">
                <img src="<%=source[1]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[1]%>" name="imgSrc">
                <img src="<%=source[2]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[2]%>" name="imgSrc">
                <img src="<%=source[3]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[3]%>" name="imgSrc">
                <img src="<%=source[4]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[4]%>" name="imgSrc">
            </div><br><br>
        
            <div>
                <img src="<%=source[5]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[5]%>" name="imgSrc">
                <img src="<%=source[6]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[6]%>" name="imgSrc">
                <img src="<%=source[7]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[7]%>" name="imgSrc">
                <img src="<%=source[8]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[8]%>" name="imgSrc">
                <img src="<%=source[9]%>" height="200" width="200">
                <input type ="hidden" value="<%=source[9]%>" name="imgSrc">
            </div><br><br><br>
            <input type="submit" value="Submit" style="background-color:green; color:white">
        </form>
    </body>
</html>