<html>
    <body>
        <label>History Images Result: </label>
        <div>
            <img src="<%=source[0]%>" height="200" width="200">
            <img src="<%=source[1]%>" height="200" width="200">
            <img src="<%=source[2]%>" height="200" width="200">
            <img src="<%=source[3]%>" height="200" width="200">
            <img src="<%=source[4]%>" height="200" width="200">
        </div><br><br>

        <div>
            <img src="<%=source[5]%>" height="200" width="200">
            <img src="<%=source[6]%>" height="200" width="200">
            <img src="<%=source[7]%>" height="200" width="200">
            <img src="<%=source[8]%>" height="200" width="200">
            <img src="<%=source[9]%>" height="200" width="200">
        </div><br><br><br>
    </body>
</html>